<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="problem-number" content="$problem_number">
    <title>$title</title>
    <link rel="stylesheet" href="/problem.css">
    <script>
        MathJax = {tex: {inlineMath: [["$$", "$$"]], displayMath: [["$$$$", "$$$$"]]}};
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script defer src="/problem.js"></script>
</head>
<body>
<div id="page-header">
    <a href="$previous_url" title="Previous problem">&laquo;</a>
    <a href="$euler_url" target="_blank" rel="noopener noreferrer" title="View on Project Euler">&#8962;</a>
    <a href="$summary_url" title="Summary">&#9776;</a>
    <a href="$github_url" target="_blank" rel="noopener noreferrer" title="View on GitHub">&#8857;</a>
    <a href="$next_url" title="Next problem">&raquo;</a>
</div>
<section id="problem-statement">
    <div id="problem-statement-content">
        <h2>$title</h2>
        <h3>Problem Statement</h3>
        $content
    </div>
</section>
<section id="test-cases">
    <div id="test-cases-content">
        <h3>Test Cases <a href="test_cases.json" target="_blank" rel="noopener noreferrer">&#128196;</a></h3>
        <div id="test-cases-body"></div>
    </div>
</section>
<section id="results">
    <div id="results-content">
        <h3>Results <a href="results.json" target="_blank" rel="noopener noreferrer">&#128196;</a></h3>
        <div id="results-body"></div>
    </div>
</section>
<section id="solution-notes">
    <div id="solution-notes-content"></div>
</section>
</body>
</html>